Django==1.11.23
#-e hg+https://bitbucket.org/amrox/django-oauth-plus@b009d427ed365b206451147120619c62e28e2006#egg=django_oauth_plus-dev
django-oauth-plus==2.2.8
django-tastypie==0.9.11
mimeparse==0.1.3
python-dateutil==1.5
wsgiref==0.1.2
oauth2==1.5.211
psycopg2==2.4.4
oauth-proxy==1.0.5
dj-database-url==0.4.0
gunicorn==19.4.5
